doctype html

html( lang = "en" )

	head
	
		meta( charset = "UTF-8" )
		
		meta( http-equiv = "X-UA-Compatible" content = "IE=edge" ) 
		meta( name = "viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )
		
		title Focal Resume - Home ( Template )
		
		link( rel = "stylesheet" href = "css/style.css" type = "text/css" )
		
		link( href = 'https://fonts.googleapis.com/css?family=Roboto:400,300,700,500' rel = 'stylesheet' type = 'text/css' )
		
	body
	
		main( class = "main" )
			
			div( class = "main__hero" )
				ul( class = "main__hero__list" )
					li
						img( src = "images/hero__image.png", alt = "Web & Graphic Designer" )
						div
							h2 Web & Graphic Designer
							a( href = "#" ) Learn more
				div( class = "main__hero__markers" )
					span.active
					span
					span

			include ./include/header.jade
		
			div( class = "main__aboutme" )
				div( class = "main__aboutme__top" )
					div
						h3 Values
						p Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
					div
						h3 Goals
						p Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
					div
						h3 Hobbies
						p Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
					
				div( class = "main__aboutme__bottom" )
					div( class = "main__aboutme__bottom__image" )
						img( src = "images/about__image.png", alt = "About me picture" )
					div( class = "main__aboutme__bottom__text" )
						h3 About me
						p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
						p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.
						ul
							li
								span
									img( src = "images/aboutme__webdesign-icon.png", alt = "Web Design Icon" )
								div
									h4 Web Design
									p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam
							li
								span
									img( src = "images/aboutme__graphicdesign-icon.png", alt = "Graphic Design Icon" )
								div
									h4 Graphic Design
									p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam
							li
								span
									img( src = "images/aboutme__marketing-icon.png", alt = "Online marketing Icon" )
								div
									h4 Online Marketing
									p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam
							li
								span
									img( src = "images/aboutme__seo-icon.png", alt = "Seo Icon" )
								div
									h4 Seo
									p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam
			
			div( class = "main__skills" )
				h3 My Skills
				div
					p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
					p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.
					a( href = "#" ) Contact me
				ul
					li
						h4 Photoshop
						div
							span( style = "width:90%" ) 90%
					li
						h4 Illustrator
						div
							span( style = "width:80%" ) 80%
					li
						h4 Html / Css
						div
							span( style = "width:90%" ) 90%
					li
						h4 PHP / Mysql
						div
							span( style = "width:70%" ) 70%
							
			div( class = "main__resume" )
				div( class = "main__resume__download" )
					h3 Resume
					p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
					a( href = "#" ) Download Resume
				div( class = "main__resume__web" )
					h3 My Education
					div
						p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
						p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.
					ul
						li
							h4 Graphic Design Diploma
							span Reeves College 
								span / June 2008 - May 2010
							div 4.0 GPA
							hr
							p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
						li
							h4 Cit Diploma
							span Lethbridge College
								span / June 2006 - May 2008
							div 4.0 GPA
							hr
							p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
				div( class = "main__resume__web" )
					h3 Work experiance
					div
						p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
						p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.
					ul
						li
							h4 Lead Web designer
							span Reeves College 
								span / June 2008 - May 2010
							div 3 Years
							hr
							p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
						li
							h4 Junior Designer
							span Lethbridge College
								span / June 2006 - May 2008
							div 1 Year
							hr
							p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
						li
							h4 Web Developer
							span Lethbridge College
								span / June 2006 - May 2008
							div 1 Year
							hr
							p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
				
			div( class = "main__testimonials" )
				ul
					li
						p “Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”
						span John Stone	
				div
					span.active
					span
					span
			
			div( class = "main__portfolio" )
				h3 Portfolio
				p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
			
				ul
					li
						p Filter by Category
						ul
							li: a( class="active" href="#") All
							li: a(href="#") Themes
							li: a(href="#") Icons
							li: a(href="#") Patterns
							li: a(href="#") Mockups
							li: a(href="#") UI Kits
					li: a(href="#")
						img(src="images/portfolio__image-1.png", alt="")
					li: a(href="#")
						img(src="images/portfolio__image-2.png", alt="")
					li: a(href="#")
						img(src="images/portfolio__image-3.png", alt="")
					li: a(href="#")
						img(src="images/portfolio__image-4.png", alt="")
					li: a(href="#")
						img(src="images/portfolio__image-5.png", alt="")
					li: a(href="#")
						img(src="images/portfolio__image-6.png", alt="")
					li: a(href="#")
						img(src="images/portfolio__image-7.png", alt="")
					li: a(href="#")
						img(src="images/portfolio__image-8.png", alt="")
			
			div( class = "main__contact" )
				h3 Contact me
				div
					p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
					div
						p 122 33d Street East
						p Saskatoon, SK
						p S7K 1R9
					
					span Email:
						p info@focal.com
					span Phone:
						p 1-305-222-2323
					
				form(action="")
					label(for="Name") Name
						span *
					input(type="text" id="Name" required )
					
					label(for="Email") Email Address
						span *
					input(type="email" id="Email" required)
					
					label(for="Text") Message
						span *
					textarea( id="Text" required )
					
					input(type="submit" value="Contact Me")
							
		include ./include/footer.jade