footer( class = "footer" )
	p Copyright 2014 Focal - Built with passon
	
	a(href="#")
		svg
			use( xlink:href="svg/socialicons.svg#icon-twitter" )
	a(href="#")
		svg
			use( xlink:href="svg/socialicons.svg#icon-facebook" )
	a(href="#")
		svg
			use( xlink:href="svg/socialicons.svg#icon-pinterest" )
	a(href="#")
		svg
			use( xlink:href="svg/socialicons.svg#icon-google-plus" )
	a(href="#")
		svg
			use( xlink:href="svg/socialicons.svg#icon-dribbble" )
	a(href="#")
		svg
			use( xlink:href="svg/socialicons.svg#icon-linkedin" )
