header( class = "header" )
	div( class = "header__logo" )
		a( href = "index.html" )
			div
				span F
			h1 Fo
				span Cal
				
	nav( class = "header__nav" )
		ul
			li: a( href = "#" ) Home
			li: a( href = "#" ) About me
			li: a( href = "#" ) Skills
			li: a( href = "#" ) Resume
			li: a( href = "#" ) Testimonials
			li: a( href = "#" ) Portfolio
			li: a( href = "#" ) Contact me